

@charset "utf-8";

// Import a Google Font
@import url('https://fonts.googleapis.com/css?family=Nunito:400,700');

// Set your brand colors
$purple: #8A4D76;
$pink: #09070a;
$brown: #757763;
$beige-light: #D0D1CD;
$beige-lighter: rgb(232, 234, 240);
$green: #0bf387;

// Update Bulma's global variables
$family-sans-serif: "Nunito", sans-serif;
$grey-dark: $brown;
$grey-light: $beige-light;
$primary: $purple;
$link: $pink;
$widescreen-enabled: false;
$fullhd-enabled: false;

// Update some of Bulma's component variables
$body-background-color: $beige-lighter;
$control-border-width: 2px;
$input-border-color: transparent;
$input-shadow: none;
$input-background-color: #f3f5fa;



//Global style  
html, body{

    height: 100%;

    //set the default font size to 18px
    font-size: 18px !important;
    overflow: hidden !important;
}